@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300);

@import 'reset';
@import 'header';
@import 'search';

html,
body,
.Map {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  background: #FFFFFF;
  font-size: 16px;
  line-height: 1.5;
  color: #222326;
  background-color: #f8f8f8;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  overflow:hidden;
}

