<div class="Comments-inner">
  <div class="Comments-content js-comments">
    <label class="LocationInformation-label">Comments</label>
  </div>
  <div class="Comments-form">
    <label class="LocationInformation-label">Do you have something to add?</label>
    <div class="InputField InputField-area js-field">
      <textarea placeholder="Feel free to comment" class="Input InputArea js-comment"></textarea>
    </div>

    <div class="LikeButtons">
      <button class="LikeButton js-like" data-value="1"></button>
      <button class="LikeButton LikeButton--dislike js-like" data-value="0"></button>
    </div>
    
    <button class="Button is-disabled js-ok">Add comment</button>
  </div>
</div>
