<div class="Comments-inner">
  <div class="Comments-content js-comments">
    <label class="LocationInformation-label">Comments</label>
  </div>
  <div class="Comments-form">
    <label class="LocationInformation-label">Do you have something to add?</label>
    <div class="InputField InputField-area js-field">
      <textarea placeholder="Feel free to comment" class="Input InputArea js-comment"></textarea>
    </div>
    <button class="Button js-ok">Add comment</button>
  </div>
</div>
