<a href="<%- url %>" class="HeaderTitle">
  <%- title %>
</a>

<ul class="HeaderItems">
  <li class="HeaderItem"><button class="HeaderItem-link is-selected js-map">Map</button></li>
  <li class="HeaderItem"><button class="HeaderItem-link js-about">About</button></li>
  <li class="HeaderItem"><button class="HeaderItem-link js-privacy">Privacy</button></li>
</ul>
